:root {
  font-family: "Orbitron", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  display: inline;
}

.navbar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navbar nav ul li a:hover {
  text-decoration: underline;
}

/* Main Content */
main {
  padding: 2rem;
  font-family: Arial, sans-serif;
}
